<div class="container-fluid">
  <button class="btn bmd-btn-icon" for="search" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapse-search">
    <i class="material-icons">search</i>
  </button>
  <div class="col-md-12">
    <div class="collapse" id="collapseExample">
      <div class="card">
        <div class="card-content table-responsive">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group form-black ">
                <label for="cliente" class="control-label">Cliente</label>
                <input class="form-control" type="text" id="cliente" [(ngModel)]="filter.iduser">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
                <label for="dtInicio" class="control-label">Data Inicial</label>
                <input class="form-control" type="date" id="dtInicio" [ngModel]="filter.dataInicio | date:'dd/MM/yyyy'" (input)="filter.dataInicio = parseDate($event.target.value)">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group form-black ">
                <label for="dtFinal" class="control-label" >Data Final</label>
                <input class="form-control" type="date" id="dtFinal" [ngModel]="filter.dataFinal | date:'dd/MM/yyyy'" (input)="filter.dataFinal =parseDate($event.target.value)">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-black ">
                <label for="confianca" class="control-label">Confianca</label>
                <input class="form-control" type="number" min="0" max="1" id="confianca" [(ngModel)]="filter.confianca">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label for="intencao" class="control-label">Intenção</label>
                <input class="form-control" type="text" id="intencao" [(ngModel)]="filter.interacao" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <button class="btn btn-docs" (click)="pesquisarInteracoes()">Buscar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="background-color: #4C6294">
          <h4 class="title">Lista de Interações</h4>
        </div>
        <div class="card-content table-responsive">

          <table class="table table-hover">
            <thead class="text-danger">
            <tr>
              <th  class="text-center">Cliente</th>
              <th  class="text-center" style="width: 50px">Interação</th>
              <th  class="text-center">Resposta</th>
              <th  class="text-center"
                   [class.active]="order === 'info.name'"
                   style="width: 150px;"
                   (click)="setOrder('info.name')">Data Criação <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
              <th  class="text-center">Confiança</th>
              <th  class="text-center">Intenção</th>
              <th  class="text-center">Entidades</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let interacao of interacoes | orderBy: order:reverse:'case-insensitive'| paginate: { itemsPerPage: 100, currentPage: p }; let i = index">
              <td class="text-center">
                {{interacao.user}}
              </td>
              <td  class="text-center">{{interacao.input}}</td>
              <td  class="text-center">{{interacao.output[0].output[0]}}</td>
              <td class="text-center">{{interacao.dateCreated | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td class="text-center">{{interacao.intents.confidence}}</td>
              <td class="text-center">{{interacao.intents.intents}}</td>
              <td class="text-center">
                <button type="button" class="btn btn-round btn-just-icon" (click)="pesquisarEntidades(interacao._id)" data-toggle="modal" data-target="#exampleModal">
                  <span class="badge badge-light">{{interacao.entities.length}}</span>
                </button>
              </td>
            </tr>

            </tbody>
          </table>
          <br>
          <pagination-controls class="pull-right"
                               (pageChange)="pageChanged( p = $event)"
                               previousLabel="Anterior"
                               nextLabel="Próximo"
                               screenReaderPaginationLabel="Pagination"
                               screenReaderPageLabel="page">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="exampleModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ENTIDADES</h5>
        <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-content table-responsive">

          <table class="table">
            <thead class="text-danger">
            <tr>
              <th  class="text-center">Entidade</th>
              <th  class="text-center" style="width: 50px">Confiança</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let intentR of entities">
              <td  class="text-center">{{intentR.value}}</td>
              <td  class="text-center">{{intentR.confidence}}</td>

            </tr>

            </tbody>
          </table>
          <br>

        </div>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
